<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      自助大丈夫：Distance Matrix API
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
      crossorigin="anonymous"
    />
    <link
      rel="canonical"
      href="https://letswrite.tw/google-map-api-distance-matrix/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        font-family: "Noto Sans TC", sans-serif;
      }
      i {
        font-size: 1.3rem;
        cursor: pointer;
      }
      i:hover {
        font-weight: bold;
      }
      .container {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      #map {
        background: #ccc;
      }

      ul {
        padding-top: 16px;
      }

      .media img {
        max-width: 64px;
      }

      .media h5,
      p {
        font-size: 14px;
      }

      .mdeia p {
        margin-bottom: 6px;
      }

      .media h6 {
        font-size: 12px;
        color: #ccc;
      }

      .fixed-bottom {
        position: fixed;
        left: 16px;
        bottom: 0;
        max-width: 320px;
      }
      #addToSchedule:hover {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div id="app" class="container px-1">
      <!-- 景點查詢 -->
      <attraction-list></attraction-list>
    </div>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVE3uJnGBC-aSoc_OTsrjJo7cUZBez4uo"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script>
      // <input class="border border-secondary w-100 my-2 rounded-pill" id="attractionInput" v-model="queryAttractionName" @keydown.enter='sendInputToAttractionList' placeholder="搜尋景點名稱">
      Vue.component("attraction-input", {
        template: `
        <div class="input-group mb-3">
          <input type="text" class="form-control" v-model="queryAttractionName" @keydown.enter='sendInputToAttractionList' placeholder="搜尋景點名稱">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
          </div>
        </div>
                    `,
        data() {
          return {
            queryAttractionName: "",
          };
        },
        methods: {
          sendInputToAttractionList() {
            this.$emit("abc", this.queryAttractionName);
            this.queryAttractionName = "";
          },
        },
      });

      Vue.component("attraction-list", {
        //父元素接收abc事件之後，呼叫getAttractionsFromPHP函式
        //父元素bind一個變數label，再把label往子組件傳
        // input-->emit 'abc'-->@abc-->addAttraction-->:label-->props
        template: `
                <div>
                  <attrac-modal :label4="attracModal"></attrac-modal>

                  <attraction-input @abc="getSearchedAttractionsFromPHP"></attraction-input>

                  <cards class="d-block" style="height:16.5rem;overflow-x:scroll;white-space: nowrap;background-color:rgba(0,0,0,0.04);">
                    <attraction-item 
                    @def="addSelectedAttractionsToDirection" @def2="addSelectedAttractionsToModal" v-for="searchedAttraction in searchedAttractions" v-bind:label="searchedAttraction"></attraction-item>
                  </cards>

                  <div class="container">
                    <div class="row">
                      <div class="border px-1 col-lg-4">
                        <div class="d-flex">
                        <input v-model="toBeSavedSchedule.scheName" type="text" class="w-100 border-top-0 border-left-0 border-right-0 form-control font-weight-bold text-truncate text-center" placeholder="請輸入行程名稱" required="required">
                          <i role="button" @click="saveSchedule" class="my-auto far fa-save mx-2 text-black-50 " style="cursor:pointer;"></i><i class="my-auto fas fa-trash-alt mx-2 text-black-50 "></i>
                          </div>
                        <attraction-direction @ghi="removeSelectedAttraction" @sendAttracStartTimeToAttractionList="sendAttracStartTimeToBackend" class="border" v-for="selectedAttraction in selectedAttractions" v-bind:label2="selectedAttraction">
                        </attraction-direction>
                      </div>
                      <div class="border col-lg-8 px-0" style="height:400px">
                        <div id="map" class="embed-responsive embed-responsive-16by9"></div>
                      </div>
                    </div>
                  </div>
                </div>
                        `,
        data() {
          return {
            searchedAttractions: [],
            selectedAttractions: [],
            map: null,
            mapCenter: {
              lat: 25.0374865,
              lng: 121.5647688,
            },
            markers: [],
            toBeSavedSchedule: {
              MemNO: "",
              scheName: "",
              scheStatus: "",
              selectedAttractions: [],
              attracStartTime: [],
            },
            attracModal: {},
          };
        },
        methods: {
          getSearchedAttractionsFromPHP(x) {
            $.get(`distanceMatrix2.php?Name=${x}`).then((data) => {
              this.searchedAttractions = JSON.parse(data);
            });
          },
          addSelectedAttractionsToDirection(x) {
            this.selectedAttractions.push(x);
            let latLng = new google.maps.LatLng(x.Py, x.Px);
            let marker = new google.maps.Marker({
              position: latLng,
              map: this.map,
              icon:
                "https://cdn0.iconfinder.com/data/icons/lumin-social-media-icons/512/Location-32.png",
            });
            // move map center to selected attraction:
            this.map.panTo(latLng);

            // add marker to markers:
            this.markers.push(marker);
            console.log(this.markers.length);

            // add infowindow:
            let contentString = `
                              <div>
                                <h6 class="card-title text-truncate">${x.Name}</h6>
                                <p>${x.Region}</p>
                              </div>
                              `;
            let infowindow = new google.maps.InfoWindow({
              content: contentString,
            });
            marker.addListener("click", function () {
              infowindow.open(map, marker);
            });
          },

          removeSelectedAttraction(x) {
            // remove closed mark:
            let n = this.selectedAttractions.indexOf(x);
            this.markers[n].setMap(null);
            this.markers.splice(this.selectedAttractions.indexOf(x), 1);

            // remove closed attraction:
            this.selectedAttractions.splice(
              this.selectedAttractions.indexOf(x),
              1
            );
          },
          saveSchedule() {
            // check if logged, if true, get and input MemNO:
            if (true) {
              this.toBeSavedSchedule.MemNO = 1;
            }
            // check if shceName and any attraction in direction:
            if (this.toBeSavedSchedule.scheName == "") {
              alert("請輸入行程名稱");
            } else if (this.selectedAttractions.length == 0) {
              alert("請輸入至少一個景點");
            } else {
              //input scheStatus:
              confirm("已完成行程編輯？")
                ? (this.toBeSavedSchedule.scheStatus = 1)
                : (this.toBeSavedSchedule.scheStatus = 0);
              alert(this.toBeSavedSchedule.scheStatus);
              // input selectedAttractions:
              this.toBeSavedSchedule.selectedAttractions = this.selectedAttractions;
              $.ajax({
                method: "POST",
                url: "saveSchedule.php",
                data: this.toBeSavedSchedule,
                dataType: "json",
              });
            }
          },
          sendAttracStartTimeToBackend(x, y) {
            let n = this.selectedAttractions.indexOf(x);
            this.selectedAttractions[n].attracStartTime = y;
            console.log(this.selectedAttractions);
          },
          addSelectedAttractionsToModal(x) {
            this.attracModal = x;
            console.log(this.attracModal);
          },
        },
        mounted() {
          this.map = new google.maps.Map(document.getElementById("map"), {
            center: this.mapCenter,
            zoom: 8,
          });
        },
      });

      Vue.component("attraction-item", {
        template: `
              <card @click="sendSelectedAttractionToAttractionList2" class="card align-top m-2 p-2 d-inline-block shadow-sm" data-toggle="modal" data-target="#attracModal" style="width: 11rem;height:14rem;cursor:pointer;">
                <div class="border position-relative cardImg overflow-hidden" style="height:11.5rem">
                  <h5 class="position-absolute text-light" style="top:0px;left:0px;">景點</h5>
                  <img :src='this.label.Picture1' class="d-block h-100 mx-auto"/>
                  <div class="position-absolute w-100 px-1" style="bottom:0px;background-color:rgba(0,0,0,0.4);">
                    <h6 class=" text-light text-truncate mb-0 mt-1" style="font-size:0.9rem;">{{label.Name}}</h6>
                    <p class=" text-light text-truncate mb-1" style="font-size:0.7rem">{{label.Region}}</p>
                  </div>
                </div>
                <div class="container py-0">
                  <div class="row justify-content-between">
                    <p @click.stop="sendSelectedAttractionToAttractionList" id="addToSchedule" class=" p-1 m-0" style="color:#bc2654; font-size:0.8rem;cursor:pointer;">+ 加入行程</p>
                    <i class="p-1 pt-2 m-0 far fa-heart" style="color:#bc2654; font-size:0.8rem;cursor:pointer;"></i>
                  </div>
                </div>
              </card>
                      `,
        props: ["label"],
        methods: {
          sendSelectedAttractionToAttractionList() {
            this.$emit("def", this.label);
          },
          sendSelectedAttractionToAttractionList2() {
            this.$emit("def2", this.label);
          },
        },
      });

      Vue.component("attraction-direction", {
        data() {
          return {
            attracStartTime: "",
          };
        },
        props: ["label2"],
        template: `
              <div class="container my-3 py-3 pr-0 rounded shadow">
                <button @click="sendClosedAttractionToAttractionList" type="button" class="close border"   aria-label="Close" style="margin-top:-17px;">
                  <span aria-hidden="true" style="font-size:1rem">&times;</span>
                </button>
                <div class="row">
                  <div class="left px-0 overflow-hidden col-4 border" style="height:100px">
                    <img :src="this.label2.Picture1" class="d-block h-100 mx-auto">
                  </div>
                  <div class="right col-8 border pr-0 pl-1 position-relative">
                    <h6 class="border">{{label2.Name}}</h6>
                    <div class="border position-absolute" style="bottom:0px;cursor:pointer;" >
                      <label class=" my-0" style="font-size:0.7rem;">抵達：</label><input type="time" v-model="attracStartTime" @change="sendAttracStartTimeToAttractionList" class=" border-0" style="font-size:0.7rem;cursor:pointer;">
                    </div>
                  </div>
                </div>
              </div>
              `,
        methods: {
          sendClosedAttractionToAttractionList() {
            this.$emit("ghi", this.label2);
          },
          sendAttracStartTimeToAttractionList() {
            this.$emit(
              "sendAttracStartTimeToAttractionList",
              this.label2,
              this.attracStartTime
            );
            // alert(`${this.attracStartTime}`);
          },
        },
      });

      Vue.component("attrac-modal", {
        props: ["label4"],
        template: `
        <div class="modal fade" id="attracModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{label4.Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="border w-100 overflow-hidden" style="height:20rem">
                  <img :src="this.label4.Picture1" class="d-block h-100 mx-auto">
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-1" style="font-size:0.9rem">
                    <h6>地址：</h6>
                    {{label4.Add}}
                    </li>
                  <li class="list-group-item px-1" style="font-size:0.9rem">
                    <h6>電話：</h6>
                    {{label4.Tel}}
                    </li>
                  <li class="list-group-item px-1" style="font-size:0.9rem">
                    <h6>開放時間：</h6>
                    {{label4.Opentime}}
                  </li>
                  <li class="list-group-item px-1" style="font-size:0.9rem">
                    <h6>景點描述：</h6>
                    {{label4.Description}}
                    </li>
                </ul>
              </div>
              <div class="modal-footer">
                <div class="container py-0">
                  <div class="row justify-content-between">
                    <p @click.stop="sendSelectedAttractionToAttractionList" id="addToSchedule" class=" p-1 m-0" style="color:#bc2654; font-size:1rem;cursor:pointer;">+ 加入行程</p>
                    <i class="p-1 pt-2 m-0 far fa-heart" style="color:#bc2654; font-size:1rem;cursor:pointer;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        `,
        methods: {
          sendSelectedAttractionToAttractionList() {},
        },
      });
      //Reference///////////////////////////////////////////////////////////////////////////////////////
      // Vue.component("attraction-schedule", {
      //   template: `
      //   <!-- 交通方式選擇
      //       <div class="col google-map">
      //         <input type="radio" v-model="travelMode" value="WALKING" @change="getCurrent"/>走路
      //         <input type="radio" v-model="travelMode" value="BICYCLING" @change="getCurrent"/>自行車
      //         <input type="radio" v-model="travelMode" value="DRIVING" @change="getCurrent"/>開車
      //       </div>-->
      //   <!-- 顯示距離列表
      //       <section class="row">
      //         <div class="col-md-4">
      //           <div class="list-group">
      //             <div v-for="f in selectedAttractions" class="list-group-item">
      //               <h5 class="mb-1">{{ f.Name }}</h5>
      //               <span class="float-left mb-0 text-primary">{{ f.distance_text }}</span>
      //               <span class="float-right mb-0 text-primary">{{ f.distance_time }}</span>
      //             </div>
      //           </div>
      //         </div>-->
      //   <!-- 顯示地圖
      //         <div class="col-md-8 google-map">
      //           <div id="map" class="embed-responsive embed-responsive-16by9"></div>
      //         </div>
      //       </section>-->
      //         `,
      //   data() {
      //     return {
      //       map: null,
      //       selectedAttractions: [], // 放景點的array
      //       travelMode: "",
      //     };
      //   },
      //   methods: {
      //     // initMap() {
      //     //   // 地圖初始化：
      //     //   let location = {
      //     //     lat: 25.0374865,
      //     //     lng: 121.5647688,
      //     //   };
      //     //   this.map = new google.maps.Map(document.getElementById("map"), {
      //     //     center: location,
      //     //     zoom: 12,
      //     //   });
      //     //   axios.get("./json/aoi.json").then((response) => {
      //     //     // (2)將取得的景點寫入selectedAttractions
      //     //     this.selectedAttractions = response.data;
      //     //     //(1) 將各景點寫入marker
      //     //     this.selectedAttractions.forEach((r) => {
      //     //       let latLng = new google.maps.LatLng(r.Py, r.Px);
      //     //       let marker = new google.maps.Marker({
      //     //         position: latLng,
      //     //         map: this.map,
      //     //         icon:
      //     //           "https://cdn0.iconfinder.com/data/icons/lumin-social-media-icons/512/Location-32.png",
      //     //       });
      //     //       this.map.panTo(latLng);
      //     //     });
      //     //   });
      //     // },
      //     getCurrent() {
      //       const _this = this;
      //       let destinations = [];
      //       _this.selectedAttractions.forEach((f) => {
      //         destinations.push(new google.maps.LatLng(f.Py, f.Px));
      //       });
      //       const service = new google.maps.DistanceMatrixService();
      //       service.getDistanceMatrix(
      //         {
      //           origins: destinations,
      //           destinations: destinations,
      //           travelMode: `${this.travelMode}`, // 交通方式：BICYCLING(自行車)、DRIVING(開車，預設)、TRANSIT(大眾運輸)、WALKING(走路)
      //           unitSystem: google.maps.UnitSystem.METRIC, // 單位 METRIC(公里，預設)、IMPERIAL(哩)
      //           avoidHighways: true, // 是否避開高速公路
      //           avoidTolls: true, // 是否避開收費路線
      //         },
      //         callback
      //       );
      //       function callback(response, status) {
      //         // 把距離寫進json裡
      //         for (
      //           let i = 1, len = _this.selectedAttractions.length;
      //           i < len;
      //           i++
      //         ) {
      //           _this.selectedAttractions[i].distance =
      //             response.rows[0].elements[i].distance.value;
      //           _this.selectedAttractions[i].distance_text =
      //             response.rows[0].elements[i].distance.text;
      //           _this.selectedAttractions[i].distance_time =
      //             response.rows[0].elements[i].duration.text;
      //         }
      //         // 按距離重排
      //         _this.selectedAttractions = _this.selectedAttractions.sort(
      //           (a, b) => {
      //             return a.distance > b.distance ? 1 : -1;
      //           }
      //         );
      //         // console.log(_this.selectedAttractions);
      //       }
      //     },
      //   },
      //   // mounted() {
      //   //   // window.addEventListener("load", () => {
      //   //   this.initMap();
      //   //   // });
      //   // },
      // });

      new Vue({
        el: "#app",
      });
    </script>
  </body>
</html>
