// @import "./variables";
* {
    box-sizing: border-box;
}

body {
    background-color: $colorMain2;
}

a {
    text-decoration: none;
    color: black;
}

.containerBlog {
    a {
        position: fixed;
        right: 5px;
        top: 350px;
        z-index: 99;
    }
    .coverPhoto {
        width: 100%;
        margin: 0 auto;
        height: 40vh;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 50px;
        img{
            width: 100%;
        }
    }
    .writerBlog {
        width: 80%;
        min-height: 15vh;
        margin: 0 auto;

        .boxWriter {
            width: 70%;
        }
        .profileAuthor {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
            vertical-align : top;

        }
        table {
            min-width: 100px;
            min-height: 50%;
            display: inline-block;
            margin-bottom: 10px;
            vertical-align :top;
        }
        button {
            float: right;
            margin-top: 50px;
        }
    }
    .blogContent {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        .blogCont {        
            width: 70%;
            margin-right: 5px;
            span {
                display: block;
                font-weight: bold;
            }
            #imgSets {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden
            }
            img {
                max-width: 100%;
            }
        }
        .popular {
            width: (100% - 70% -0.5%);
            margin: 5px;
            .popTitle {
                text-align: center;
                background-color: $colorSecondary1;
                color: $colorMain1;
                padding:5px;
            }
            .blogAds {
                position: relative;
                margin: 5px ;
                .adsMask {
                    position: absolute;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.5);
                    p{
                        color: $colorMain2;
                    }
                    width: 100%;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

