* {
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

.containerGroupTop{
    // border: 1px solid red;
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
    .containerGroupTitle{
        font-size: $subtitle;
        text-align: center;
        width: 100%;
        padding: 15px;
        color: white;
        background-color: rgba(0,0,0,.7);
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .containerGroupPhoto{
        width: 100%;
        max-height: 550px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}

.tabAll {
    width: 100%;
    margin: 0 auto;
    .tab {
        overflow: hidden;
        .tabs1{
            background-color: white;
            color: $colorMain1;
            padding: 10px 15px;
            border-top-left-radius: 5px;
            width: 94px;
            border-bottom: 1px solid lightgray;
        }
        .tabs2{
            background-color: lightgray;
            color: white;
            padding: 10px 15px;
            border-top-right-radius: 5px;
            width: 94px;
            border-bottom: 1px solid lightgray;
        }
    }
    .tabcontent {
        display: none;
        padding: 20px;
        background-color: white;
        // border: 1px solid blue;
    }
    #activity {
        .actAll {
            // border: 1px solid red;
            display: flex;          
            .actCont {
                // border: 1px solid black;
                width: 100%;
                margin-bottom: 10px;
                letter-spacing: 1.5px;
                line-height: 30px;
                font-size: 16px;
                .prodTable{
                    // border: 1px solid red;
                    margin: 30px;
                    margin-left: 100px;
                    li{
                        span{
                            font-weight: 500;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .btnsAct {
                // max-width: 130px;
                // border: 1px solid blue;
                display: inline-block;
                margin: 5px;
                margin-top: 60px;
                button{
                    margin: 5px;
                    margin-bottom: 15px;
                    @include button(160px, 50px, $colorSecondary2, $colorMain1, $colorMain1);
                    font-size: $content;
                }
                .btnsActBtn1_1{
                    @include button(160px, 50px, $colorMain1, $colorSecondary2, $colorMain1);
                    font-size: $content;
                    display: none;
                }
                .btnsActBtn1_2{
                    @include button(160px, 50px, lightgray, $colorSecondary2, lightgray);
                    font-size: $content;
                    display: none;
                }
                .btnsActBtn2_2{
                    @include button(160px, 50px, $colorMain1, $colorSecondary2, $colorMain1);
                    font-size: $content;
                    display: none;
                }
            }
            .goingToJoin{
                width: 700px;
                display: inline-block;
                border: 1px solid rgb(204,204,204);
                border-radius: 5px;
                overflow: hidden;
                background-color: rgb(250,250,250);
                .goingToJoinH5{
                    text-align: center;
                    font-size: $content;
                    color: $colorMain1;
                    background-color: $colorSecondary1;
                    padding: 10px;
                }
                ul{
                    padding: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    li.goingToJoinLi{
                        // border: 1px solid red;
                        position: relative;
                        list-style: none; 
                        margin-bottom: 10px;
                        border-bottom: 1px solid rgba(57,57,57,.5);
                        .pic{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            display: inline-block;
                            overflow: hidden; 
                            margin-bottom: 10px;
                            .memPic{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }          
                        }
                        .name{
                            display: inline-block;
                            margin-left: 5px;
                        }
                        .accept{
                            border: 1px solid $colorMain1;
                            margin-left: 20px;
                            background-color: $colorMain1;
                            color: $colorSecondary2;
                        }
                        .refuse{
                            border: 1px solid $colorMain1;
                            background-color: $colorSecondary2;
                            color: $colorMain1;
                        }
                        .showInfo{
                            color: $colorMain1;
                            opacity: .8;
                            font-size: 14px;  
                            margin-left: 23%;             
                            &:hover{
                                cursor: pointer;
                            }
                            position: absolute;
                            top: 55px;
                        }
                        .info{
                            // border: 1px solid red;
                            display: none;
                            padding-left: 80px;
                            transform: translateY(-15px);
                            ul{
                                padding: 0;
                            }
                            .closeInfo{
                                margin-left: calc(50% - 55px);
                                margin-top: 5px;
                                // transform: translateX(-50%);
                                border: 1px solid $colorMain1;
                                background-color: $colorSecondary2;
                                color: $colorMain1;
                            }
                        }
                    }
                }
            }          
        }
        .joined{
            // width: 450px;
            display: inline-block;
            border: 1px solid rgb(204,204,204);
            border-radius: 5px;
            overflow: hidden;
            .joinedH5{
                text-align: center;
                font-size: $content;
                color: $colorMain1;
                background-color: $colorSecondary1;
                padding: 10px;
            }
            ul{
                li{
                    list-style: none; 
                    display: inline-block;
                    margin-left: 10px;
                    .pic{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        display: inline-block;
                        overflow: hidden; 
                        margin-bottom: 5px;                      
                        .memPic{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }          
                    }
                    .name{
                        display: inline-block;
                        margin-left: 5px;
                    }
                    .showInfo{
                        color: $colorMain1;
                        font-size: 14px;
                        opacity: .8;
                        margin-left: 5px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .info{
                        display: none;
                        border-bottom: 1px solid rgba(57,57,57,.5);
                        margin-bottom: 10px;
                        padding-bottom: 5px;
                        padding-top: 5px;
                        .closeInfo{
                            border: 1px solid $colorMain1;
                            background-color: $colorSecondary2;
                            color: $colorMain1;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    #chat {
        .chatCont {
            padding: 6px 12px;
            background-color: white;
            table {
                // border: 1px solid red;
                margin-bottom: 50px;
                .replies {
                    background-color: rgb(255, 210, 217);
                    width: 90%;
                    padding: 5px;
                    border-radius: 5px;
                }
                td {
                    time {
                        color: gray;
                    }
                }
            }
        }
        .commentor {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 10px;
        }
        input {
            // width: calc(100% - 50px);
            height: 35px;
            background-color: rgb(255, 210, 217);
            border-style: hidden;
            border-radius: 5px 0 0 5px;
            vertical-align: top;
            outline: none;
            &[type=button] {
                width: 50px;
                height: 35px;
                background: url(../images/btnSend.png) no-repeat;
                background-size: cover;
                background-position: center center;
                border-radius: 0 2px 2px 0;
                white-space: nowrap;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .openGroup {
        // border: 1px solid blue;
        background-color: #fefefe;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid #888;
        max-width: 80%;
        min-width: 40%;
        width: 941px;
        .groupTitle {
            text-align: center;
            background-color: pink;
            margin-bottom: 20px;
        }
        form {
            margin: 0 auto;
            // border: 1px solid green;
            line-height: 2rem;
            width: 80%;
            table {
                width: 80%;
                // border: 1px solid red;
                margin-left: 20px;
                // margin: 0 auto;
            }
            .coverImg {
                // border: 1px solid blue;
                width: 100%;
                height: 30vh;
                min-height: 200px;
                margin-top: 30px;
            }
        }
    }
}

.btnForm {
    // border: 1px solid green;
    width: 80%;
    text-align: right;
}