// @import "./variables";
@media screen and (min-width: $breakpoint-md) {
    .mobileFilter {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: $colorMain2;
}

.container {
    .openGroupBTN {
        z-index: 5;
        position: fixed;
        top: 50vh;
        right: 0;
        @include button(50px, 150px, $colorSecondary2, $colorMain1, $colorMain1);

        @media (max-width:768px) {
            // border: 1px solid red;
            @include button(35px, 100px, $colorSecondary2, $colorMain1, $colorMain1);
        }

        @media (max-width:320px) {
            right: 25px;
        }


        p {
            font-size: $subtitle;
            color: $colorMain2;
            writing-mode: vertical-lr;
            margin: 0;

            @media (max-width:768px) {
                font-size: $s_content;
            }
        }

        p:hover {
            color: $colorMain1;
        }
    }

    .openNewGroup {
        position: fixed;
        // right: -5%;
        z-index: 10;
        top: 40%;
        right: 0;

        a {
            img {
                width: 50%;
                margin-left: 60px;
                // margin-top: 100px;
            }
        }
    }

    .groupViewSearchBar {
        // border: none;
        width: 600px;
        margin-top: 120px;
        height: 32px;
        margin: 120px 50px auto auto;
        display: flex;
        justify-content: flex-end;

        @media (max-width:768px) {
            // border: 1px solid red;
            width: 250px;
        }

        input {
            background-color: lightgray;
            border: none;
            border-radius: 5px 5px 5px 5px;


        }

        .groupSearch {
            // width: 100px;
            // padding: 0;
            // margin: 0;
            // border: none;
            // background-color: lightgray;
            // border-radius: 0px 5px 5px 0px;
            // height: 0px;
            font-size: $s_content;
            margin-left: 10px;
            margin-right: 20px;
            @include button(70px, 30px, $colorSecondary2, $colorMain1, $colorMain1);

            @media (max-width:768px) {
                // border: 1px solid red;
                margin-right: 10px;
            }

            // img {
            //     width: 25px;
            //     height: 25px;
            //     // border: 1px solid red;
            // }
        }
    }

    .chooseBlock {
        // border: 1px solid red;
        // display: flex;
        // padding-left: 800px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-end;

        .checkBox4phone {
            //手機版篩選器
            border: 1px solid $borderLine;
            box-shadow: 0px 0px 1px 2px lightgray;
            margin: 10px 0px 10px 0px;
            margin: 15px auto;
            width: 80%;
            position: relative;

            .phoneFilter_p {
                font-size: $subtitle;
                color: $colorMain1;
                margin-top: 10px;
            }

            .phoneFilter_p_option {
                color: $colorSecondary3;
                margin-right: 10px;
            }

            .btnPhoneFilterBlock {
                // border: 1px solid red;
                width: 100px;
                margin: 0 auto;
                margin-top: 10px;


                .btnPhoneFilter {
                    // margin: 0 200px;
                    @include button(70px, 25px, $colorSecondary2, $colorMain1, $colorMain1);
                }
            }
        }

        .groupFBtn {
            // border: none;
            // border: 1px solid red;


            &:hover {
                color: $colorMain1;
            }
        }

        .groupFBtn2 {
            margin-right: 65px;

            @media (max-width:768px) {
                // border: 1px solid red;
                margin-right: 10px;
            }

        }
    }

    .mainGroupView {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        // width: 50vw;
        .groupViewLeft {
            padding: 0;
            // border: 1px solid red;
            margin-top: 10px;

            .fliterBlock {
                border-radius: 5px;
                margin-bottom: 50px;

                table {
                    border: 1px solid $borderLine;
                    margin-bottom: 50px;
                    border-radius: 5px;
                    overflow: hidden;

                    tr {
                        th {
                            text-align: center;
                            font-size: $subtitle;
                            height: 50px;
                            color: $colorMain1;
                            background-color: $colorSecondary1;
                            border-bottom: 1px solid $borderLine;
                        }

                        td {
                            background-color: rgb(245, 245, 245);
                            width: 50%;

                            .dropdown-toggle {
                                width: 100%;
                            }

                            .fliterBlock_p {
                                width: 100px;
                                // border: 1px solid red;
                            }

                            p {
                                font-size: $s_content;
                                margin-top: 13px;
                                margin-left: 20px;
                            }

                            select {
                                margin-right: 20px;
                                width: 80px;
                            }

                            .btn1111 {
                                margin-left: 90px;
                                @include button(70px, 30px, $colorSecondary2, $colorMain1, $colorMain1);
                            }
                        }
                    }
                }
            }

            .hotScheBlock {
                border-radius: 5px;
                margin-bottom: 50px;

                table {
                    border: 1px solid $borderLine;
                    margin-bottom: 50px;
                    border-radius: 5px;
                    overflow: hidden;

                    tr {
                        th {
                            text-align: center;
                            font-size: $subtitle;
                            height: 50px;
                            color: $colorMain1;
                            background-color: $colorSecondary1;
                            border-bottom: 1px solid $borderLine;
                        }

                        td {
                            background-color: rgb(245, 245, 245);
                            width: 250px;

                            a {
                                img {
                                    width: 250px;
                                    height: 160px;
                                    margin-left: 0 auto;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .groupViewRight {
            // padding: 0;
            // border: 1px solid green;
            margin: 0;

            // width: 80%;
            // .groupMain {
            //     border: 1px solid red;
            //     // height: 100px;
            // }
            .groupViewPCcardBlock {
                // width: 100px;
                // border: 1px solid red;
                // width: 100%;
                // display: flex;
                // justify-content: center;
                // margin-left: 30px;
                padding: 0;

                #groupCardsAll {
                    // margin: 0 auto;
                    // width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;


                    .cardGroup {
                        margin: 10px;
                    }
                }
            }



            .groupPhoneCardCarousel {
                // border: 1px solid red;
                height: 500px;
                max-width: 768px;
                // width: 80%;
                margin-top: 40px;
                margin-bottom: 40px;

                .innerCardScheGroupPhoneSlide {
                    height: 450px;
                    // border: 10px solid red;
                    max-width: 300px;
                    margin: 0 auto;
                }

                // .innerCardScheGroupPhoneSlide>.carousel-item {
                //     // border: 1px solid blue;
                //     // margin-left: 20%;
                // }
                .innerCardSchePhoneSlide {
                    // border: 1px solid blue;
                    // padding: 0 auto;
                    max-width: 300px;
                    height: 400px;
                    margin: 0 auto;

                    .fixHeight4others {
                        height: 700px;
                    }
                }

                .groupCarouselIcon {
                    background-color: $colorMain1;
                    width: 30px;
                    height: 50px;
                }
            }
        }
    }
}