.setall{
    width: 500px;
    color: $colorSecondary3;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}
.setupname{
    background-color: $colorSecondary1;
    margin: 0 0 -1 0;
    font-weight: 500;
}
.setupcont{
    background-color: $colorMain2;
    text-align: center;
    font-size: $content;
}
.setuptitle{
    color: $colorMain1;
    font-size: $subtitle;
    text-align: center;
}
.setupninput{
     border-color: white;
     cursor:auto;
     font-size: $content;
     margin-top: 20px;
}
.rightbutton{
    @include button(90px, 35px, $colorMain1, $colorSecondary2, $colorMain1);
    margin-left: 25px;
}
.leftbutton{
    @include button(90px, 35px, $colorMain1, $colorSecondary2, $colorMain1);
}
.twobtn{
    text-align: center;
    padding: 10px;
    height: 50px;
}

@media screen and (max-width: $breakpoint-sm){
    .setall{
        width: 100%;
    }
    .twobtn{
        text-align: center;
        padding: 10px;
    }
}
