// @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

// @import "variables";

// @import "components/bootstrapCustom";

// @import "components/card";
// @import "footer";
// @import "nav";
// @import "member";
// @import "plan";
// @import "writeBlog";
// @import "groupView";
// @import "blogView";
// @import "slider";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// @import "partinGroups";

// @import "profileMem";
// @import "setupGroup";
// @import "setupTourn";
// @import "tourStatus";
// @import "blogShow";
// @import "enrollMem";
// @import "loginMember";
// @import "groupShow";
// @import "homepageBody";
// @import "search";
@import "./components/bootstrapCustom.scss";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./testImage.scss";
@import "footer.scss";
@import "nav";
@import "member";
@import "plan";
@import "./writeBlog";
@import "./components/card.scss";
@import "groupView";
@import "blogView";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "./slider.scss";
@import "./partinGroups.scss";
@import "./profileMem.scss";
@import "./setupGroup.scss";
@import "./setupTourn.scss";
@import "./tourStatus.scss";
@import "blogShow";
@import "./enrollMem.scss";
@import "./loginMember.scss";
@import "groupShow";
@import "./homepageBody.scss";
* {
    font-family: 'Noto Sans TC';
}
html {
    font-size: 16px;
}
@media (max-width: $breakpoint-md) {
    html {
        font-size: 14.4px;
    }
    
    .btnSmall {
        @include button(48px, 26px, $colorSecondary2, $colorMain1, $colorMain1);
    }
    
    .btnMid {
        @include button(76px, 30px, $colorSecondary2, $colorMain1, $colorMain1);
    }
    
    .btnLarge {
        @include button(100px, 40px, $colorSecondary2, $colorMain1, $colorMain1);
    }
}


// a.nav-link{
//  text-decoration: none;
// }