<!-- homepageBody -->
<div class="homepageBody">
    <div class="select1of3" data-0="opacity:1;" data-370="opacity:0;">
        <ul class="selectArea">
            <li class="selectbox selectbox1" onclick="location.href='./plan.html';" id="img_01"
                data-zoom-image="./images/selectbox1.png">
                <p>排行程</p>
                「打造屬於自己的<br>&nbsp;&nbsp;&nbsp;專屬行程」
            </li>
            <li class="selectbox selectbox2" onclick="location.href='./groupView.html';" id="img_02"
                data-zoom-image="./images/selectbox2.png">
                <p>揪團</p>
                「加入或舉辦一個<br>&nbsp;&nbsp;&nbsp;有趣行程」
            </li>
            <li class="selectbox selectbox3" onclick="location.href='./blogView.html';" id="img_03"
                data-zoom-image="./images/selectbox3.png">
                <p>遊記</p>
                「快來看看大家的<br>&nbsp;&nbsp;&nbsp;私房景點」
            </li>
        </ul>
    </div>
    <section id="sanjay">
        <div class="firstScreen" data-0="opacity:1;" data-400="opacity:0;" data-anchor-target="#sanjay">
            <p>[ TAIWAN ]</p>
            <pre class="taiwan">這座寶島上...
還有很多美麗風景等著我們一起探索！</pre>
        </div>

        <div id="scroll" class="scroll-down-button" data-0="opacity:1;" data-550="opacity:0;">
            <img class="scroll" src="./images/scroll.png">
        </div>

        <div class="secondScreen_mainBody" data-0="opacity:0;display:none;" data-400="opacity:0;display:inline-block;"
            data-550="opacity:1;" data-4000="opacity:1;" data-4300="opacity:0;display:none;">

            <div class="right-background" data-550="opacity:0;transform:translateX(80%);"
                data-1200="opacity:1;transform:translateX(0);">
            </div>

            <div class="right-background-content" data-700="opacity:0;transform:translateY(110%);"
                data-1200="opacity:1;transform:translateY(0);" data-1500="opacity:1;transform:translateY(0);"
                data-1800="opacity:0;transform:translateY(0);">
                <p>輕鬆的操作方式～<br>建立一個屬於自己的行程吧！</p>
                <br>
                <button class="btnLarge" onclick="location.href='./plan.html';">馬上去！</button>
            </div>

            <div class="left-background" data-1799="opacity:0;transform:translateX(-70%);display:none;"
                data-1800="opacity:1;transform:translateX(-70%);display:block;"
                data-2450="opacity:1;transform:translateX(-3%);display:block;"
                data-2800="opacity:1;transform:translateX(-3%);display:block;"
                data-3300="opacity:0;transform:translateX(-3%);display:block;">
                <!-- 卡片加在這-->
                <div id="homePageGroup" class="firstPageGroupCardsPart">
                    <!-- 揪團卡片 -->
                    <!-- group cards start-->
                    <div v-for="group in homePageGroups" class="card cardOriginalTem cardGroup ">
                        <a>
                            <img :src="group.Group_Pic" class="card-img-top" >
                            <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                <h5 class="card-title cardTitleWebUse">揪團</h5>
                                <div class="mask">
                                    <p class="card-text cardTextWebUse">{{group.Group_title}}<br></p>
                                </div>
                            </div>
                            <div>
                                <div class="cardGroupContent">
                                    <p>團主：{{group.mem_name}}</p>
                                    <div>
                                        <p>團主評價：
                                            <img src="./images/good.png" >
                                            {{group.hostlike}}
                                        </p>
                                    </div>
                                    <p>出團日期：{{group.Group_StartDate}}</p>
                                    <div>
                                        <p>報名截止：{{group.Group_Deadline}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- group cards end-->
                </div>
            </div>
            <div class="left-background-content" data-1800="opacity:0;transform:translateY(110%);"
                data-2350="opacity:1;transform:translateY(0);" data-2650="opacity:1;transform:translateY(0);"
                data-2950="opacity:0;transform:translateY(0);">
                <p>找不到旅伴嗎？<br>快來看看有哪些厲害的揪團！</p>
                <br>
                <button onclick="location.href='./groupView.html';">更多揪團</button>
            </div>
            <div class="right-background2" data-2949="opacity:0;transform:translateX(80%);"
                data-2950="opacity:1;transform:translateX(80%);" data-3600="opacity:1;transform:translateX(0);">
                <!-- 卡片加在這 -->
                <div id="homePageSpot" class="firstPageSpotCardsPart">
                    <!-- spot cards start-->        
                    <div v-for="spot in homePageSpots" class="card cardSpot cardOriginalTem ">
                        <a>
                            <img v-if="spot.Attrac_PicURL == ''" :src="output" class="card-img-top">
                            <img  v-else :src="spot.Attrac_PicURL" class="card-img-top">
                            <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                <h5 class="card-title cardTitleWebUse">景點</h5>
                                <div class="mask">
                                    <p class="card-text cardTextWebUse">{{spot.Attrac_Region}}<br>
                                        <span style="font-weight: 300;">{{spot.Attrac_Name}}</span></p>
                                </div>
                            </div>
                            <div>
                                <div class="cardStar">
                                    <p>人氣{{spot.likecount}}</p>
                                </div>
                                <div class="cardLike">
                                    <a >
                                        <p>+加入行程</p>
                                    </a>
                                    <a >
                                        <img src="./images/heart.png" >
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                    <!-- spot cards end-->        
            <div class="right-background2-content" data-2950="opacity:0;transform:translateY(110%) translateX(-130%);"
                data-3600="opacity:1;transform:translateY(0) translateX(-130%);">
                <p>跟著旅遊達人，<br>探索在地人的私房景點！</p>
                <br>
                <button class="btnLarge" onclick="location.href='./blogView.html';">更多遊記</button>
            </div>
        </div>
    </section>
</div>

<!-- ----rwd 576以下---- -->
<div class="homepageBody576">
    <div class="firstScreen576">
        <p class="taiwanTitle">[ TAIWAN ]</p>
        <pre class="taiwan576">         這座寶島上...
還有很多風景等著我們一起探索！</pre>
        <ul class="selectArea576">
            <li class="selectbox576 selectbox1576" onclick="location.href='#';">
                <p>排行程</p>
            </li>
            <li class="selectbox576 selectbox2576" onclick="location.href='#';">
                <p>揪團</p>
            </li>
            <li class="selectbox576 selectbox3576" onclick="location.href='#';">
                <p>遊記</p>
            </li>
        </ul>
        <img class="scroll" src="./images/scroll.png">
    </div>
    <div class="secondScreen576">
        <p>輕鬆的操作方式～<br>建立一個屬於自己的行程吧！</p>
        <div>圖片加這裡～</div>
        <button class="btnLarge" onclick="location.href='./plan.html';">馬上去！</button>
    </div>
    <div id="smallhomePageGroup" class="thirdScreen576">
        <p class="thirdScreen576_p">找不到旅伴嗎？<br>快來看看有哪些厲害的揪團！</p>
        <!-- 卡片加這裡～ -->
        <!-- 揪團卡片 -->
        <!-- group cards start-->
        <div v-for="group in homePageGroups"  class="card cardOriginalTem cardGroup cardGroupRWDindex">
            <a>
                <img :src="group.Group_Pic" class="card-img-top" >
                <div class="card-body card-img-overlay cardImgOverlayWebUse">
                    <h5 class="card-title cardTitleWebUse">揪團</h5>
                    <div class="mask">
                        <p class="card-text cardTextWebUse">{{group.Group_title}}<br></p>
                    </div>
                </div>
                <div>
                    <div class="cardGroupContent">
                        <p>團主：{{group.Mem_name}}</p>
                        <div>
                            <p>團主評價：
                                <img src="./images/good.png">
                                {{group.hostlike}}
                            </p>
                        </div>
                        <p>出團日期：{{group.Group_StartDate}}</p>
                        <div>
                            <p>報名截止：{{group.Group_Deadline}}</p>
                            <a>
                                <img src="./images/heart.png" >
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- group cards end-->

        <br>
        <button onclick="location.href='./groupView.html';">更多揪團</button>
    </div>
    <div id="smallhomePageSpot" class="forthScreen576">
        <p>跟著旅遊達人，<br>探索在地人的私房景點！</p>
        <div>
            <!-- 卡片加這裡～ -->
            <!-- 景點卡片 -->
            <!-- spot cards start-->
            <div  v-for="spot in homePageSpots" class="card cardSpot cardOriginalTem cardSpotRWDindex" style="width: 18rem;">
                <a >
                    <img v-if="spot.Attrac_PicURL == ''" :src="output" class="card-img-top">
                    <img  v-else :src="spot.Attrac_PicURL" class="card-img-top">
                    <div class="card-body card-img-overlay cardImgOverlayWebUse">
                        <h5 class="card-title cardTitleWebUse">景點</h5>
                        <div class="mask">
                            <p class="card-text cardTextWebUse">{{spot.Attrac_Region}}<br>
                            <span style="font-weight: 300;">{{spot.Attrac_Name}}</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="cardStar">
                            <p>人氣{{spot.likecount}}</p>
                        </div>
                        <div class="cardLike">
                            <a >
                                <p>+加入行程</p>
                            </a>
                            <a >
                                <img src="./images/heart.png" alt="">
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <br>
            <!-- spot cards end-->
        </div>
        <button class="btnLarge" onclick="location.href='./blogView.html';">更多遊記</button>
    </div>
</div>


<!-- skrollr mainBody滾動效果-->
<script>
    $(document).ready(function () {
        var s = skrollr.init();
    });
</script>
<!-- elevatezoom 放大鏡-->
<script>
    $("#img_01").elevateZoom({
        zoomType: "lens",
        lensShape: "round",
        lensSize: 200,
        borderSize: 0,
        lensFadeIn: 100,
        cursor: "pointer",
    });
    $("#img_02").elevateZoom({
        zoomType: "lens",
        lensShape: "round",
        lensSize: 200,
        borderSize: 0,
        lensFadeIn: 100,
    });
    $("#img_03").elevateZoom({
        zoomType: "lens",
        lensShape: "round",
        lensSize: 200,
        borderSize: 0,
        lensFadeIn: 100,
    });
</script>

<!-- ----第一屏文字特效---- -->
<script>
    var textWrapper = document.querySelector('.taiwan');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({
            loop: true
        })
        .add({
            targets: '.taiwan .letter',
            opacity: [0, 1],
            easing: "easeInOutQuad",
            duration: 1500,
            delay: (el, i) => 120 * (i + 1)
        }).add({
            targets: '.taiwan',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>