<div class="mainBody container">
    <div class="subBody row">
        <div class="col-lg-3 px-lg-0 col-12">
            <div class="memLeft">
                <div class="memInfoTitle">會員資料</div>
                <div class="memInfo">
                    <div class="memPhoto">
                        <img src="./images/1.png" >
                    </div>
                    <div class="changePhoto" onclick="">更換頭貼</div>
                    <table>
                        <tr>
                            <td>姓名</td>
                            <td>Ａlex</td>
                        </tr>
                        <tr>
                            <td>註冊日期</td>
                            <td>2019/03/09</td>
                        </tr>
                        <tr>
                            <td>性別</td>
                            <td>男</td>
                        </tr>
                        <tr>
                            <td>個人評價</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>聯絡方式</td>
                            <td>Line z8893012</td>
                        </tr>
                    </table>
                    <div class="divforBtn">
                        <button class="btnSmall">儲存</button>
                        <button class="btnSmall">修改</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 px-lg-0 col-12 ">
            <div class="memRight">
                <div class="tab">
                    <button class="tabButtonFirst tabButtonFocus" onclick="openTab(this,1,'keep')">收藏</button>
                    <button class="tabButton" onclick="openTab(this,1,'schedule')">我的行程</button>
                    <button class="tabButton" onclick="openTab(this,1,'group')">揪團</button>
                    <button class="tabButtonForth tabButton" onclick="openTab(this,1,'blog')">遊記</button>
                </div>
                <div id="keep" class="memRightContainer ">
                    <button class="subTabFocus" onclick="openTab(this,2,'keepattr')">景點收藏</button>
                    <button class="subTab" onclick="openTab(this,2,'keepsche')">行程收藏</button>
                    <button class="subTab" onclick="openTab(this,2,'keepgroup')">揪團收藏</button>
                    <button class="subTab" onclick="openTab(this,2,'keepblog')">遊記收藏</button>
                    <hr>
                    <div id="keepattr" class="keepContainer">
                        <div class="keepfilter_1">
                            縮小範圍顯示
                            地區: <select name="area" id=""></select>
                            類型: <select name="type" id=""></select>
                            <button class="btnSmall">篩選</button>
                        </div>
                        <!-- 景點收藏 -->
                        <div id="spotForKeep" class="keepAllWall" >        
                        <!-- cardSpot start-->
                        <div v-for="spot in spots" class="card cardSpot cardOriginalTem " style="width: 18rem;">
                            <a>
                                <img :src="spot.cardimg" class="card-img-top">
                                <div onclick="openSpotLightBox();" class="card-body card-img-overlay cardImgOverlayWebUse">
                                    <h5  class="card-title cardTitleWebUse">{{spot.cardTitle}}</h5>
                                    <div class="mask">
                                        <p class="card-text cardTextWebUse">{{spot.spotArea}}<br>
                                            <span  style="font-weight: 300;">{{spot.spotName}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="cardStar">
                                        <p >人氣{{spot.hotcount}}</p>
                                    </div>
                                    <div class="cardLike">
                                        <a><p>+加入行程</p></a>
                                        <a class="heartimg" onclick="keepSpotLike(this);">
                                            <img v-if="spot.iskeep == 1" src="./images/heart_r.png" >
                                            <img v-else src="./images/heart.png" >
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>            
                        <!-- cardSpot end -->
                        </div>
                    </div>
                    <div id="keepsche" class="keepContainer" style="display:none">
                        <div class="keepfilter_2">
                            <button class="filterBtn">最新刊登&darr;</button>
                            <button class="filterBtn">最高人氣&darr;</button>
                        </div>
                        <!-- 行程收藏 -->
                        <div id="scheForKeep" class="keepAllWall" >
                            <!-- 行程 -->
                            <!-- keep schedule start -->
                            <div v-for="sched in scheds" class="card cardSchedule cardOriginalTem " style="width: 18rem;">
                                <a>
                                    <img :src="sched.cardimg" class="card-img-top">
                                    <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                        <h5 class="card-title cardTitleWebUse">{{sched.cardTitle}}</h5>
                                        <div class="mask">
                                            <p class="card-text cardTextWebUse">{{sched.ScheName}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cardScheduleContent">
                                            <p>{{sched.ScheViews}}人氣</p>
                                            <div>
                                                <a><p>+加入行程</p></a>
                                                <a>
                                                    <img src="./images/heart.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- keep schedule end -->
                        </div>
                    </div>
                    <div id="keepgroup" class="keepContainer" style="display:none">
                        <div class="keepfilter_2">
                            <button class="filterBtn">最新刊登&darr;</button>
                            <button class="filterBtn">最高評價&darr;</button>
                        </div>
                        <!-- 揪團收藏 -->
                        <div id="groupForKeep" class="keepAllWall">
                            <!-- keep group start -->
                            <div v-for="group in groups" class="card cardOriginalTem cardGroup" >
                                <a>
                                    <img :src="group.cardimg" class="card-img-top" >
                                    <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                        <h5 class="card-title cardTitleWebUse">{{group.cardTitle}}</h5>
                                        <div class="mask">
                                            <p class="card-text cardTextWebUse">{{group.Group_Title}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cardGroupContent">
                                            <p>團主：{{group.groupHost}}</p>
                                            <div>
                                                <p>團主評價：                                                    
                                                    <img src="./images/good.png" >
                                                </p>
                                            </div>
                                            <p>出團日期：{{group.GroupStartDate}}</p>
                                            <div>
                                                <p>報名截止：{{group.GroupDeadline}}</p>
                                                <a>
                                                    <img src="./images/heart.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- keep group end -->
                            
                        </div>
                    </div>
                    <div id="keepblog" class="keepContainer" style="display:none">
                        <div class="keepfilter_2">
                            <button class="filterBtn">最新刊登&darr;</button>
                            <button class="filterBtn">最高人氣&darr;</button>
                        </div>
                        <!-- 遊記收藏 -->
                        <div id="blogForKeep" class="keepAllWall">
                        <!-- keep blog start -->
                            <div v-for="blog in blogs" class="card cardOriginalTem cardBlog" style="width: 18rem;">
                                <a>
                                    <img :src="blog.cardimg" class="card-img-top">
                                    <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                        <h5 class="card-title cardTitleWebUse">{{blog.cardTitle}}</h5>
                                        <div class="mask">
                                            <p class="card-text cardTextWebUse">{{blog.BlogName}}<br></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="cardBlogContent">
                                            <p>作者：{{blog.BlogEditor}}</p>
                                            <p>發佈日期：{{blog.BlogDate}}</p>
                                            <div>
                                                <p>人氣{{blog.BlogViews}}</p>
                                                <a>
                                                    <img src="./images/heart.png">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- keep blog end -->

                        </div>
                    </div>
                </div>
                <div id="schedule" class="memRightContainer" style="display:none">
                    <!-- 會員中心＿行程 -->
                    <div id="schedForMem" class="memRightWall">
                        <!-- 會員中心＿行程 -->
                        <!-- mem sche start -->
                        <div v-for="sched in scheds" class="card  cardOriginalTem cardSchedule cardMemberSchedule" style="width: 18rem;">
                            <a >
                                <img :src="sched.cardimg" class="card-img-top">
                                <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                    <h5 class="card-title cardTitleWebUse">{{sched.cardTitle}}</h5>
                                    <div class="mask">
                                        <p class="card-text cardTextWebUse">{{sched.ScheName}}</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="cardScheduleContent">
                                        <div>
                                            <a><p>{{sched.ScheViews}}人氣</p></a>                                          
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- mem sche end -->
                    
                    </div>
                </div>
                <div id="group" class="memRightContainer" style="display:none">
                    <div id="groupForMem" class="memRightWall">
                        <!-- 揪團卡片 -->
                        <!-- Mem group start -->
                        <div v-for="group in groups" class="card cardOriginalTem cardGroup" >
                        <a>
                            <img :src="group.cardimg" class="card-img-top" >
                            <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                <h5 class="card-title cardTitleWebUse">{{group.cardTitle}}</h5>
                                <div class="mask">
                                    <p class="card-text cardTextWebUse">{{group.Group_Title}}</p>
                                </div>
                            </div>
                            <div>
                                <div class="cardGroupContent">
                                    <p>團主：{{group.groupHost}}</p>
                                    <div>
                                        <p>團主評價：
                                            <img src="./images/good.png" >
                                        </p>
                                    </div>
                                    <p>出團日期：{{group.GroupStartDate}}</p>
                                    <div>
                                        <p>報名截止：{{group.GroupDeadline}}</p>                                
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Mem group end -->

                    </div>

                </div>
                <div id="blog" class="memRightContainer" style="display:none">
                    <!-- <div id="app">
                        <todo-list></todo-list>
                    </div> -->
                    <div id="blogForMem" class="memRightWall">
                        <!-- 遊記 -->
                        <!-- Mem blog start -->
                        <div v-for="blog in blogs" class="card cardOriginalTem cardBlog" style="width: 18rem;">
                            <a>
                                <img :src="blog.cardimg" class="card-img-top">
                                <div class="card-body card-img-overlay cardImgOverlayWebUse">
                                    <h5 class="card-title cardTitleWebUse">{{blog.cardTitle}}</h5>
                                    <div class="mask">
                                        <p class="card-text cardTextWebUse">{{blog.BlogTitle}}</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="cardBlogContent">
                                        <p>作者：{{blog.BlogEditor}}</p>
                                        <p>發佈日期：{{blog.BlogDate}}</p>
                                        <div>
                                            <p>人氣{{blog.BlogViews}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Mem blog end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    function keepAttraction(){
        let xhr = new XMLHttpRequest();
        xhr.onload = function(){
            if(xhr.status==200){
                console.log(xhr.responseText);
                keepAttra = JSON.parse(xhr.responseText);
                console.log(keepAttra);
            }else{
                alert(xhr.status);
            }
        }
        xhr.open("post", "keepAttraction.php", true);
        xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
        //在 php  require 一支getmemberinfo 取 memberinfo
        xhr.send();   
    }

    function openTab(obj, index, tabName) {
        var i;
        if (index == 1) {
            x = document.getElementsByClassName("memRightContainer");
            document.getElementsByClassName("tabButtonFocus")[0].classList.add("tabButton");
            document.getElementsByClassName("tabButtonFocus")[0].classList.remove("tabButtonFocus");
            obj.classList.add("tabButtonFocus");
            obj.classList.remove("tabButton");

        } else {
            x = document.getElementsByClassName("keepContainer");
            document.getElementsByClassName("subTabFocus")[0].className = "subTab";
            obj.className = "subTabFocus";
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
        
        switch (tabName) {
            case 'schedule':
                console.log('行程');
                // memSchedule();
            break;
            case 'group':
                console.log('團');    
            break;  
            case 'blog':
                console.log('部落格');    
            break;
            case 'keepsche':
                console.log('keepsche');    
            break;
            case 'keepgroup':
                console.log('keepgroup');    
            break;
            case 'keepblog':
                console.log('keepblog');    
            break;
            case 'keepattr':
                console.log('keepattr');
                keepAttraction();
    
            break;
            default:
                console.log(`111`);
            break;
}

    }
 
    // Vue.component('todo-list',{              
    //           data(){
    //               return{
    //                   tasks: [],
    //               };
    //           },
    //           methods: {
    //               addTask(task){
    //                   this.tasks.push(task);
    //               }
    //           },
    //           template: `
    //           <!-- 遊記 -->
    //           <div class="card cardBlog" style="width: 18rem;">
    //             <a href="">
    //             <img src="./images/1.png" class="card-img-top" alt="...">
    //             <div class="card-body card-img-overlay">
    //             <h5 class="card-title">遊記</h5>
    //             <div class="mask">
    //             <p class="card-text">日月潭<br><span style="font-weight: 300;">九族文化村和健行步道</span></p>
    //             </div>
    //             <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    //             </div>
    //             <div>
    //             <div class="cardBlogContent">
    //             <p>作者：中央劉德華</p>
    //             <p>發佈日期：2020/08/20</p>
    //             <div>
    //             <p>人氣319</p>
    //             <a href="">
    //             <img src="./images/heart.png" alt="">
    //             </a>
    //             </div>
    //             </div>
    //             </div>
    //             </a>
    //           </div>
    //           `,
    //       });       

    //       new Vue({
    //           el: '#app',
    //       });   
    new Vue({
            el: '#spotForKeep', 
            data: {      
                //相當於之前JS宣告的變數
                spots: [{
                    cardTitle: "景點",
                    cardimg: "./images/lake.jpg",
                    spotArea: "南投",
                    spotName: "日月潭",
                    hotcount: "319",
                    iskeep: 1
                },
                {
                    cardTitle: "景點",
                    cardimg: "./images/lake.jpg",
                    spotArea: "台北",
                    spotName: "饒河夜市",
                    hotcount: "320",
                    iskeep: 0
                }],
            },
        });
        new Vue({
            el: '#groupForKeep', 
            data: {      
                //相當於之前JS宣告的變數
                groups: [{
                    cardTitle: "揪團",
                    cardimg: "./images/lake.jpg",
                    spotArea: "南投",
                    Group_Title: "南投三天兩夜",
                    spotName: "日月潭",
                    groupHost: "愛旅行",
                    HostCom: "4.5",
                    GroupStartDate: "2020-12-05",
                    GroupDeadline: "2020-10-15",
                    iskeep: 1
                },
                {
                    cardTitle: "揪團",
                    cardimg: "./images/lake.jpg",
                    spotArea: "南投",
                    Group_Title: "南投五天四夜",
                    spotName: "日月潭",
                    groupHost: "Alex",
                    HostCom: "4.5",
                    GroupStartDate: "2020-12-08",
                    GroupDeadline: "2020-10-15",
                    iskeep: 1
                }],
            },
        });
        new Vue({
            el: '#scheForKeep', 
            data: {      
                //相當於之前JS宣告的變數
                scheds: [{
                    cardTitle: "行程",
                    cardimg: "./images/lake.jpg",
                    ScheName: "台東五天四夜熱氣球體驗團",
                    ScheViews: "319",
                    iskeep: 1
                },
                {
                    cardTitle: "行程",
                    cardimg: "./images/lake.jpg",
                    ScheName: "屏東三天兩夜墾丁遊",
                    ScheViews: "490",
                    iskeep: 1
                }],
            },
        });
        new Vue({
            el: '#blogForKeep', 
            data: {      
                //相當於之前JS宣告的變數
                blogs: [{
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogName: "台東五天四夜熱氣球體驗團",
                    BlogEditor: "愛旅遊",
                    BlogDate: "2020-07-15",
                    BlogViews: "319",
                    iskeep: 1
                },
                {
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogName: "台東五天四夜熱氣球體驗團",
                    BlogEditor: "Alex",
                    BlogDate: "2020-08-15",
                    BlogViews: "419",
                    iskeep: 1
                }],
            },
        });
        new Vue({
            el: '#blogForKeep', 
            data: {      
                //相當於之前JS宣告的變數
                blogs: [{
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogName: "台東五天四夜熱氣球體驗團",
                    BlogEditor: "愛旅遊",
                    BlogDate: "2020-07-15",
                    BlogViews: "319",
                    iskeep: 1
                },
                {
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogName: "雲林劍湖山兩天一夜",
                    BlogEditor: "Alex",
                    BlogDate: "2020-08-15",
                    BlogViews: "419",
                    iskeep: 1
                }],
            },
        });
        new Vue({
            el: '#schedForMem', 
            data: {      
                //相當於之前JS宣告的變數
                scheds: [{
                    cardTitle: "行程",
                    cardimg: "./images/lake.jpg",
                    ScheName: "台東五天四夜熱氣球體驗團",
                    ScheViews: "319"
                    
                },
                {
                    cardTitle: "行程",
                    cardimg: "./images/lake.jpg",
                    ScheName: "台東五天四夜熱氣球體驗團",
                    ScheViews: "319"
                }],
            },
        });
        new Vue({
            el: '#groupForMem', 
            data: {      
                //相當於之前JS宣告的變數
                groups: [{
                    cardTitle: "揪團",
                    cardimg: "./images/lake.jpg",
                    Group_Title: "南投三天兩夜",
                    groupHost: "愛旅行",
                    HostCom: "4.5",
                    GroupStartDate: "2020-12-05",
                    GroupDeadline: "2020-10-15",
                },
                {
                    cardTitle: "揪團",
                    cardimg: "./images/lake.jpg",
                    Group_Title: "花蓮三天兩夜",
                    groupHost: "愛旅行",
                    HostCom: "4.5",
                    GroupStartDate: "2020-12-05",
                    GroupDeadline: "2020-10-15",
                }],
            },
        });
        new Vue({
            el: '#blogForMem', 
            data: {      
                //相當於之前JS宣告的變數
                blogs: [{
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogTitle: "南投三天兩夜",
                    BlogEditor: "愛旅遊",
                    BlogDate: "2020-07-15",
                    BlogViews: "666"    
                },
                {
                    cardTitle: "遊記",
                    cardimg: "./images/lake.jpg",
                    BlogTitle: "南庄三天兩夜",
                    BlogEditor: "愛旅遊",
                    BlogDate: "2020-08-21",
                    BlogViews: "686"
                }],
            },
        });
</script>