<div class="container">
    <div class="openNewGroup col-4 col-l-2 col-md-2 col-lg-2">
        <a onclick="openNewGroup();">
            <img src="./images/openNewGroup.png" class="d-md-block" />
        </a>
    </div>
    <!-- search bar -->
    <div class="groupViewSearchBar row">
        <!-- <form action="groupSearch.php" method="GET"> -->
        <input type="text" name="search_text" id="search_text" placeholder="來看看有哪些揪團" class="col col-md-5" />
        <button type="button" id="groupSearch" class="groupSearch">
            <img src="./images/iconSearch.png" />
        </button>
        <!-- </form> -->
    </div>
    <hr />
    <div class="chooseBlock row">

        <button class="groupFBtn col-3 col-md-2" onclick="sortByLatest()">
            最新刊登 &darr;
        </button>
        <button class="groupFBtn col-3 col-md-2" onclick="SortByLike()">
            最高評價 &darr;
        </button>

        <!-- 手機版篩選器開始 -->
        <div class="d-flex mobileFilter col-3 col-md-3 col-lg-1 d-none
            d-sm-block d-md-none">
            <div class="dropdown mr-1">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                    篩選
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">ppl</a>
                    <a class="dropdown-item" href="#">location</a>
                    <a class="dropdown-item" href="#">sex</a>
                    <a class="dropdown-item" href="#">days</a>
                    <a class="dropdown-item" href="#">month</a>
                </div>
            </div>
        </div>
        <!-- 手機版篩選器結尾 -->
    </div>
    <div class="mainGroupView row d-flex">
        <div class="groupViewLeft col-sm-3 d-none d-sm-none d-md-block">
            <!-- fliter Start -->
            <!-- method="post" action="groupViewFilter.php" -->
            <form id="filter">
                <div class="fliterBlock">
                    <table>
                        <tr>
                            <th colspan="2">縮小範圍顯示</th>
                        </tr>
                        <tr>
                            <td>
                                <p class="fliterBlock_p">團員人數：</p>
                            </td>
                            <td>
                                <select name="groupView_FliterPpl" id="groupView_FliterPpl">
                                    <option value="" selected>任意</option>
                                    <option value="and Group_Ppl<=5">1-5人</option>
                                    <option value="and Group_Ppl between 5 and 10">6-10人</option>
                                    <option value="and Group_Ppl between 10 and 15">10-15人</option>
                                    <option value="and Group_Ppl between 15 and 20">15-20人</option>
                                    <option value="and 20<Group_Ppl">20人以上</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="fliterBlock_p">性別限制:</p>
                            </td>
                            <td>
                                <select name="groupView_FliterSex" id="groupView_FliterSex">
                                    <option value="" selected>不限制</option>
                                    <option value="and Group_Sex=1">限女</option>
                                    <option value="and Group_Sex=2">限男</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="fliterBlock_p">旅遊天數:</p>
                            </td>
                            <td>
                                <select name="groupView_FliterDay" id="groupView_FliterDay">
                                    <option value="" selected>任意</option>
                                    <option value="and datediff(Group_EndDate,Group_StartDate)+1=1">1</option>
                                    <option value="and datediff(Group_EndDate,Group_StartDate)+1 between 1 and 5">1-5
                                    </option>
                                    <option value="and datediff(Group_EndDate,Group_StartDate)+1 between 5 and 10">5-10
                                    </option>
                                    <option value="and 10<datediff(Group_EndDate,Group_StartDate)+1">10以上</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="fliterBlock_p">出發月份:</p>
                            </td>
                            <td>
                                <select name="groupView_FliterMonth" id="groupView_FliterMonth">
                                    <option value="" selected>任意</option>
                                    <option value="and date_format(Group_StartDate,'%m')=01">一月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=02">二月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=03">三月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=04">四月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=05">五月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=06">六月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=07">七月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=08">八月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=09">九月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=10">十月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=11">十一月</option>
                                    <option value="and date_format(Group_StartDate,'%m')=12">十二月</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn1111" id="btnGroupFilter" type="button">篩選</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <!-- Fliter End -->
            <!-- Hot Schedule Start -->
            <div class="hotScheBlock d-none d-md-block">
                <table>
                    <tr>
                        <th>熱搜行程</th>
                    </tr>
                    <tr>
                        <td id="hotSche001" name="hotSche001">
                            <a><img :src="hotSche001.Sche_Img" alt="" />
                                <p>{{hotSche001.Sche_Name}}</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td id="hotSche002" name="hotSche002">
                            <a><img :src="hotSche002.Sche_Img" alt="" />
                                <p>{{hotSche002.Sche_Name}}</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td id="hotSche003" name="hotSche003">
                            <a><img :src="hotSche003.Sche_Img" alt="" />
                                <p>{{hotSche003.Sche_Name}}</p>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Hot Schedule End -->
        </div>

        <div class="groupViewRight col-9 d-block">
            <!-- Group Main Start -->
            <!-- pc version start  -->
            <div class="groupViewPCcardBlock d-md-flex d-none">
                <!-- 揪團卡片 -->
                <div id="groupCardsAll">
                    <!-- <input type="text" v-model="search" placeholder="Search title.." /> -->
                    <div v-for="groupCard in groupCardsAlls" class="card cardOriginalTem cardGroup">
                        <!-- <a  onclick="openpartinGroup();"> -->
                        <a :href="'groupInside.php?Group_NO=' + groupCard.Group_NO">
                            <img :src="groupCard.Group_Pic" class="card-img-top" alt="...">
                            <div class="card-body card-img-overlay
                                cardImgOverlayWebUse">
                                <h5 class="card-title cardTitleWebUse">揪團</h5>
                                <div class="mask">
                                    <p class="card-text cardTextWebUse">{{groupCard.Group_title}}<br></p>
                                </div>
                            </div>
                            <div>
                                <div class="cardGroupContent ">
                                    <p>團主：{{groupCard.Mem_name}}</p>
                                    <div>
                                        <p>團主評價：
                                            <img src="./images/good.png " alt=" "> {{groupCard.hostlike}}
                                        </p>

                                    </div>
                                    <p>出團日期：{{groupCard.Group_StartDate}}</p>

                                    <p>報名截止：{{groupCard.Group_Deadline}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- pc version end -->



<!-- phone vision start -->
<div class="groupPhoneCardCarousel d-xl-none d-lg-none d-md-none">
    <div id="carouselPhoneGroupControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner innerCardScheGroupPhoneSlide">
            <div id="groupCardCarousel_1" class="carousel-item active" name="groupCardCarousel_1">
                <div class="card cardOriginalTem cardGroup d-block" style="width: 18rem;">
                    <a :href="'groupInside.php?Group_NO=' + groupCardCarousel_1.Group_NO">
                        <img :src="groupCardCarousel_1.Group_Pic" class="card-img-top" alt="...">
                        <div class="card-body card-img-overlay
                                        cardImgOverlayWebUse">
                            <h5 class="card-title cardTitleWebUse">揪團</h5>
                            <div class="mask">
                                <p class="card-text cardTextWebUse">{{groupCardCarousel_1.Group_title}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="cardGroupContent ">
                                <p>團主：{{groupCardCarousel_1.Mem_name}}</p>
                                <div>
                                    <p>團主評價：
                                        <img src="./images/good.png " alt=" ">{{groupCardCarousel_1.hostlike}}
                                    </p>

                                </div>
                                <p>出團日期：{{groupCardCarousel_1.Group_StartDate}}</p>

                                <div>
                                    <p>報名截止：{{groupCardCarousel_1.Group_Deadline}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="groupCardCarousel_2" class="carousel-item" name="groupCardCarousel_2">
                <div class="card cardOriginalTem cardGroup d-block" style="width:18rem;">
                    <a :href="'groupInside.php?Group_NO=' + groupCardCarousel_2.Group_NO">
                        <img :src="groupCardCarousel_2.Group_Pic" class="card-img-top" alt="...">
                        <div class="card-body card-img-overlay
                                        cardImgOverlayWebUse">
                            <h5 class="card-title cardTitleWebUse">揪團</h5>
                            <div class="mask">
                                <p class="card-text cardTextWebUse">{{groupCardCarousel_2.Group_title}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="cardGroupContent ">
                                <p>團主：{{groupCardCarousel_2.Mem_name}}</p>
                                <div>
                                    <p>團主評價：
                                        <img src="./images/good.png " alt=" ">{{groupCardCarousel_2.hostlike}}
                                    </p>

                                </div>
                                <p>出團日期：{{groupCardCarousel_2.Group_StartDate}</p>

                                <div>
                                    <p>報名截止：{{groupCardCarousel_2.Group_Deadline}}</p>
                            </div>
                        </div>
                </div>
                </a>
            </div>
            <div id="groupCardCarousel_3" class="carousel-item" name="groupCardCarousel_3">
                <div class="card cardOriginalTem cardGroup d-block" style="width: 18rem;">
                    <a :href="'groupInside.php?Group_NO=' + groupCardCarousel_3.Group_NO">
                        <img :src="groupCardCarousel_3.Group_Pic" class="card-img-top" alt="...">
                        <div class="card-body card-img-overlay
                                        cardImgOverlayWebUse">
                            <h5 class="card-title cardTitleWebUse">揪團</h5>
                            <div class="mask">
                                <p class="card-text cardTextWebUse">{{groupCardCarousel_3.Group_title}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="cardGroupContent">
                                <p>團主：{{groupCardCarousel_3.Mem_name}}</p>
                                <div>
                                    <p>團主評價：
                                        <img src="./images/good.png" alt="">{{groupCardCarousel_3.hostlike}}
                                    </p>

                                </div>
                                <p>出團日期：{{groupCardCarousel_3.Group_StartDate}}</p>

                                <div>
                                    <p>報名截止：{{groupCardCarousel_3.Group_Deadline}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="groupCardCarousel_4" class="carousel-item" name="groupCardCarousel_4">
                    <div class="card cardOriginalTem cardGroup d-block" style="width: 18rem;">
                        <a :href="'groupInside.php?Group_NO=' + groupCardCarousel_4.Group_NO">
                            <img :src="groupCardCarousel_4.Group_Pic" class="card-img-top" alt="...">
                            <div class="card-body card-img-overlay
                                        cardImgOverlayWebUse">
                                <h5 class="card-title cardTitleWebUse">揪團</h5>
                                <div class="mask">
                                    <p class="card-text cardTextWebUse">{{groupCardCarousel_4.Group_title}}</p>
                                </div>
                            </div>
                            <div>
                                <div class="cardGroupContent">
                                    <p>團主：{{groupCardCarousel_4.Mem_name}}</p>
                                    <div>
                                        <p>團主評價：
                                            <img src="./images/good.png" alt="">{{groupCardCarousel_4.hostlike}}
                                        </p>

                                    </div>
                                    <p>出團日期：{{groupCardCarousel_4.Group_StartDate}}</p>

                                    <div>
                                        <p>報名截止：{{groupCardCarousel_4.Group_Deadline}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="groupCardCarousel_5" class="carousel-item" name="groupCardCarousel_5">
                <div class="card cardOriginalTem cardGroup d-block" style="width: 18rem;">
                    <a :href="'groupInside.php?Group_NO=' + groupCardCarousel_5.Group_NO">
                        <img :src="groupCardCarousel_5.Group_Pic" class="card-img-top" alt="...">
                        <div class="card-body card-img-overlay
                                        cardImgOverlayWebUse">
                            <h5 class="card-title cardTitleWebUse">揪團</h5>
                            <div class="mask">
                                <p class="card-text cardTextWebUse">{{groupCardCarousel_5.Group_title}}</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="cardGroupContent ">
                                        <p>團主：{{groupCardCarousel_5.Mem_name}}</p>
                                        <div>
                                            <p>團主評價：
                                                <img src="./images/good.png " alt=" ">{{groupCardCarousel_5.hostlike}}
                                            </p>

                                        </div>
                                        <p>出團日期：{{groupCardCarousel_5.Group_StartDate}}</p>

                                        <div>
                                            <p>報名截止：{{groupCardCarousel_5.Group_Deadline}}</p>
                                        </div>
                                    </div>
                                </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselPhoneGroupControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon
                            groupCarouselIcon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselPhoneGroupControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon
                            groupCarouselIcon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- <div class="groupPhoneCardCarousel d-xl-none d-lg-none d-md-none ">
    <div id="carouselPhoneScheControls " class="carousel slide " data-ride="carousel ">
        <div class="carousel-inner innerCardSchePhoneSlide ">
            <div class="carousel-item active fixHeight4others ">
                <div class="card cardOriginalTem cardSchedule " style="width: 18rem; ">
                    <a href=" ">
                        <img src="./images/lake.jpg " class="card-img-top " alt="... ">
                        <div class="card-body card-img-overlay cardImgOverlayWebUse ">
                            <h5 class="card-title cardTitleWebUse ">行程</h5>
                            <div class="mask ">
                                <p class="card-text cardTextWebUse ">日月潭<br><span style="font-weight: 300; ">九族文化村和健行步道</span></p>
                            </div>
                        </div>
                        <div>
                            <div class="cardScheduleContent ">
                                <p>319人氣</p>
                                <div>
                                    <a href=" ">
                                        <p>+加入行程</p>
                                    </a>
                                    <a href=" ">
                                        <img src="./images/heart.png " alt=" ">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card cardOriginalTem cardSchedule " style="width: 18rem; ">
                    <a href=" ">
                        <img src="./images/lake.jpg " class="card-img-top " alt="... ">
                        <div class="card-body card-img-overlay cardImgOverlayWebUse ">
                            <h5 class="card-title cardTitleWebUse ">行程</h5>
                            <div class="mask ">
                                <p class="card-text cardTextWebUse ">日月潭<br><span style="font-weight: 300; ">九族文化村和健行步道</span></p>
                            </div>
                        </div>
                        <div>
                            <div class="cardScheduleContent ">
                                <p>319人氣</p>
                                <div>
                                    <a href=" ">
                                        <p>+加入行程</p>
                                    </a>
                                    <a href=" ">
                                        <img src="./images/heart.png " alt=" ">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="card cardOriginalTem cardSchedule " style="width: 18rem; ">
                    <a href=" ">
                        <img src="./images/lake.jpg " class="card-img-top " alt="... ">
                        <div class="card-body card-img-overlay cardImgOverlayWebUse ">
                            <h5 class="card-title cardTitleWebUse ">行程</h5>
                            <div class="mask ">
                                <p class="card-text cardTextWebUse ">日月潭<br><span style="font-weight: 300; ">九族文化村和健行步道</span></p>
                            </div>
                        </div>
                        <div>
                            <div class="cardScheduleContent ">
                                <p>319人氣</p>
                                <div>
                                    <a href=" ">
                                        <p>+加入行程</p>
                                    </a>
                                    <a href=" ">
                                        <img src="./images/heart.png " alt=" ">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev " href="#carouselPhoneScheControls " role="button " data-slide="prev ">
            <span class="carousel-control-prev-icon groupCarouselIcon " aria-hidden="true "></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselPhoneScheControls " role="button " data-slide="next ">
            <span class="carousel-control-next-icon groupCarouselIcon " aria-hidden="true "></span>
            <span class="sr-only ">Next</span>
        </a>
    </div>
</div> -->
    <!-- phone version end -->
    <!-- Group Main End -->

</div>
</div>
</div>