
<div class="scheLightBox">
  <div class="closedBtn" onclick="closescheLightBox();"><img src="./images/icon/cross_b.png" alt="關閉"></div>
  <div class="scheLightBoxImg">
    <!-- <img src="./images/1.png" >   -->
    <img :src="keepSche1.Sche_Img" >  

  </div>
  <div class="scheName">{{keepSche1.Sche_Name}}</div>

  <div  v-for="QueryScheCard in QueryScheCards" class="scheContent">
    <!-- <div  v-for="item in QueryScheCards" >第{{QueryScheCard.Nth_Day}}天</div> -->
    <div>第{{QueryScheCard.Nth_Day}}天</div>
    <div >{{QueryScheCard.Attrac_Name}}</div>
  </div>
  
</div>
